markdown_logo.jpg
AVA блок схема лекция 1 (лабиринт).drawio
AVA блок схема массивы (конспект).drawio
AVA блок схема семинар 1 (конспект).drawio
AVA блок схема семинар 2 (Д_з).drawio
AVA блок схема семинар 3 (Д_з).drawio
AVA блок схема семинар 3 (конспект).drawio
AVA блок схема скалярное произведение 3х3.drawio
AVA блок схема сравнение 4 чисел.drawio
AVA блок-схема среднеарифметическое 4 чисел.drawio
AVA блок-схема факториала n.drawio
Git для проф промграммиста (КНИГА).pdf
MD_logo.png
VSCodeUserSetup-x64-1.76.2.exe
ДЗ к 3 урока ВП Разработчика.pdf
Диаграмма сумма всех нечетных чисел 2 до 30.drawio
задача 1.bmp
задача 1.txt
задача 2.bmp
задача 2.txt
задача 3.bmp
задача 4.bmp
Лекция 3 нахождение второго большего по значенияю эллемента массива (2).txt
Лекция 3 нахождение второго большего по значенияю эллемента массива.txt
Лекция 3 подпраграмма поиска max числа в массиве (конспект).txt
Разбираем код на английском.pdf
Семинар 3 (Д_з).txt
Студенческая инструкция.pdf